@media(max-width:1480px) {
    .main-menu li a {
        padding: 10px 26px 20px;
    }
    .search-box {
        width: 320px;
        position: relative;
    }
}
@media(max-width:1280px) {
    .main-menu li a {
        font-size: 14px;
    }
    .search-box {
        width: 290px;
    }
    .main-menu li a.active:before {
        bottom: 6px;
        height: 4px;
        width: 66px;
    }
    .feel-collection-img img {
        max-width: 320px;
    }
    .lg-title {
        font-size: 28px;
    }
    .trans-theme-btn {
        font-size: 18px;
    }
    .service-box .md-title {
        font-size: 22px;
        line-height: 28px;
    }
    .service-box .md-title img {
        max-width: 22px;
        vertical-align: -4px;
    }
    .border-cs.mt-3.mb-3 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
    .border-cs {
        height: 4px;
    }
    .service-box {
        padding: 22px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
    .welcome-title {
        font-size: 38px;
        line-height: 44px;
    }
    .welcome-delta-wrap .content p {
        font-size: 16px;
        line-height: 25px;
    }
    .wl-title {
        font-size: 21px;
        line-height: 26px;
    }
    .wl-icon {
        min-width: 20px;
    }
    .wl-icon img {
        max-width: 22px;
    }
    .wl-box {
        padding: 18px 34px;
    }
    .main-title {
        font-size: 52px;
        line-height: 68px;
    }
    .inventory-title {
        font-size: 118px;
        line-height: 124px;
    }
    .inventory-title1 {
        font-size: 16px;
        line-height: 18px;
    }
    .inventory-mileage {
        font-size: 14px;
        line-height: 16px;
    }
    .inventory-title2 {
        font-size: 14px;
        line-height: 21px;
    }
    .inventory-price {
        font-size: 19px;
        line-height: 22px;
    }
    .view-all-btn {
        padding: 11px 70px;
    }
    .unique-btn {
        padding: 15px 78px;
    }
    .contact-phone {
        font-size: 27px;
        line-height: 36px;
    }
    .contact-text {
        font-size: 18px;
        line-height: 22px;
    }
    .mlr-55 {
        margin-left: -35px !important;
        margin-right: -35px !important;
    }
    .plr-55 {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    .brand-logo img {
        max-height: 88px;
    }
    .header-block {
        padding: 20px 40px;
    }
    .hb-title {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 36px;
    }
    .header-block .mt-3 {
        margin-top: 0.5rem !important;
    }
    .gray-title {
        font-size: 21px;
        letter-spacing: -0.25px;
        line-height: 24px;
    }
    .hb-value {
        font-size: 30px;
        letter-spacing: -0.41px;
        line-height: 34px;
    }
    .hb-value.ms-4 {
        margin-left: 1rem !important;
    }
    .cb-title {
        font-size: 40px;
        letter-spacing: -0.57px;
        line-height: 44px;
    }
    .cb-sub-title {
        font-size: 24px;
        letter-spacing: -0.3px;
        line-height: 28px;
        min-height: 74px;
    }
    .collection-value {
        font-size: 40px;
        letter-spacing: -0.5px;
        line-height: 45px;
    }
    .cb-view-dtl {
        padding: 12px 38px;
    }
    .cb-right .mt-4 {
        margin-top: 1rem !important;
    }
    .brand-logo img {
        max-width: 250px;
    }
    .collection-slider.owl-carousel .owl-nav button.owl-prev,
    .collection-slider.owl-carousel .owl-nav button.owl-next {
        width: 50px;
        height: 50px;
    }
    .cb-right {
        padding: 30px 40px;
    }
    .send-btn,
    .vdtl-inquire-btn {
        font-size: 18px;
        letter-spacing: -0.25px;
        line-height: 22px;
        padding: 12px 45px;
    }
    .view-dtl-block .mt-5 {
        margin-top: 1.5rem !important;
    }
    .view-dtl-block .mt-4 {
        margin-top: 1rem !important;
    }
    .cs-tabs ul li a {
        font-size: 22px;
    }
    .view-dtl-box p {
        font-size: 17px;
        line-height: 28px;
    }
    .view-dtl-box {
        padding: 30px;
    }
    .mt-100 {
        margin-top: 60px;
    }
    .mt-80 {
        margin-top: 40px;
    }
    .vdb-title {
        font-size: 20px;
        letter-spacing: -0.25px;
        line-height: 26px;
    }
    .custom-form .row {
        margin-left: -15px;
        margin-right: -15px;
    }
    .custom-form .col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .vdtl-heading img {
        max-height: 60px;
    }
    .view-dtl-left {
        width: calc(100% - 340px);
        padding-right: 30px;
    }
    .view-dtl-right {
        width: 340px;
    }
    .custom-table tr th,
    .custom-table tr td {
        font-size: 14px;
        padding: 12px 0;
        font-weight: 600;
    }
    .craft-logo img {
        max-width: 120px;
    }
    .blue-link {
        font-size: 16px;
        letter-spacing: -0.25px;
        line-height: 20px;
    }
}
@media(max-width:1100px) {
    .main-menu li a {
        padding: 10px 18px 15px;
    }
    .search-field {
        font-size: 16px;
    }
    .search-icon {
        width: 20px;
        height: 20px;
    }
    .search-box {
        width: 260px;
    }
}
@media(max-width:992px) {
    .search-box {
        width: 190px;
    }
    .main-menu li a {
        padding: 10px 8px 15px;
    }
    .service-box {
        padding: 17px;
    }
    .service-wrap .gx-5 {
        --bs-gutter-x: 1.5rem;
    }
    .read-more-btn {
        padding: 8px 24px;
    }
    .service-box .md-title {
        font-size: 18px;
        line-height: 25px;
    }
    .inventory-mileage {
        font-size: 13px;
        line-height: 15px;
    }
    .inventory-title1 {
        font-size: 14px;
        line-height: 16px;
    }
    .inventory-content .mt-3 {
        margin-top: 0.5rem!important;
    }
    .mlr-55 {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    .plr-55 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .main-menu {
        padding-left: 40px;
    }
    .collection-box {
        padding: 25px 0px;
    }
    .collection-slider.owl-carousel .owl-nav button.owl-prev {
        width: 38px;
        height: 38px;
        left: 10px;
    }
    .collection-slider.owl-carousel .owl-nav button.owl-next {
        width: 38px;
        height: 38px;
        right: 10px;
    }
    .inventory-title {
        font-size: 82px;
        line-height: 84px;
        letter-spacing: -3px;
    }
    .hb-title {
        font-size: 26px;
        line-height: 24px;
    }
    .gray-title {
        font-size: 18px;
        letter-spacing: -0.15px;
        line-height: 20px;
    }
    .hb-value {
        font-size: 24px;
        letter-spacing: -0.41px;
        line-height: 28px;
    }
    .cb-title {
        font-size: 32px;
        letter-spacing: -0.25px;
        line-height: 34px;
    }
    .cb-sub-title {
        font-size: 20px;
        letter-spacing: -0.3px;
        line-height: 24px;
        min-height: 60px;
    }
    .collection-value {
        font-size: 34px;
        letter-spacing: -0.25px;
        line-height: 40px;
    }
    .read-more-btn {
        font-size: 17px;
        letter-spacing: -0.25px;
    }
    .cb-right {
        padding: 24px 32px;
    }
    .brand-logo img {
        max-width: 200px;
        max-height: 60px;
    }
    .cs-tabs ul li a {
        font-size: 16px;
        letter-spacing: 0.25px;
    }
    .vdtl-title {
        font-size: 22px;
        letter-spacing: -0.25px;
        line-height: 24px;
    }
    .view-dtl-block.mt-5 {
        margin-top: 1.5rem !important;
    }
    .cs-tabs {
        padding: 20px 0 10px;
    }
    .cs-tabs ul li a {
        padding: 8px 30px;
    }
    .view-dtl-block {
        display: block !important;
    }
    .view-dtl-left {
        width: 100%;
        padding-right: 0;
    }
    .gallery-block {
        padding: 20px 0 40px;
    }
    .view-dtl-block .col-md-6 {
        width: 100%;
    }
    .view-dtl-block {
        padding-bottom: 15px;
    }
    .gallery-slider.owl-carousel .owl-nav button.owl-prev {
        width: 50px;
        height: 50px;
        left: -30px;
    } 
    .gallery-slider.owl-carousel .owl-nav button.owl-next {
        width: 50px;
        height: 50px;
        right: -30px;
    }
    .view-dtl-right {
        width: 100%;
        margin-top: 25px;
    }
    .read-more-btn.send-btn {
        max-width: 200px;
    }
}
@media(max-width:767px) {
    .header-wrap .container {
        padding: 15px 15px;
    }
    .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .welcome-list {
        padding: 0;
        max-width: 100%;
        width: 100%;
    }
    .welcome-delta-wrap {
        padding: 70px 0 50px;
    }
    .inventory-title.mb-5 {
        margin-bottom: 1rem !important;
    }
    .inventory-wrap .col-md-4 + .col-md-4 {
        margin-top: 50px;
    }
    .h-330 {
        height: 160px !important;
    }
    .custom-form .read-more-btn {
        color: #FFFFFF;
        font-size: 22px;
        letter-spacing: -0.69px;
        line-height: 24px;
        font-weight: 600;
        width: 100% !important;
        padding: 16px 20px;
    }
    .conatct-gradient {
        padding: 50px 0 70px;
    }
    .contact-info-flex {
        display: block !important;
    }
    .contact-phone {
        margin-left: 0 !important;
    }
    .contact-info-flex .address-text + .address-text {
        margin-top: 30px;
    }
    .contact-info-flex.mt-4 {
        margin-top: 0.5rem !important;
    }
    .search-box {
        position: absolute;
        left: 30px;
        right: 30px;
        top: 100px;
        width: calc(100% - 60px);
    }
    .main-menu,
    .search-box {
        display: none;
    }
    .main-menu.show,
    .search-box.show {
        display: block;
    }
    .mobile-menu-icon {
        margin-left: 15px;
    }
    .hb-block {
        display: block !important;
        text-align: center;
    }
    .banner-car-img {
        margin: 15px 0;
    }
    .feel-collection-img img {
        max-width: 100%;
    }
    .main-logo img {
        max-height: 40px;
    }
    .lg-title {
        font-size: 26px;
    }
    .home-bannner-wrap .trans-theme-btn {
        font-size: 22px;
        line-height: 32px;
        width: 100%;
    }
    .service-box {
        padding: 25px;
    }
    .service-box .md-title {
        font-size: 22px;
        margin-bottom: 13px;
    }
    .service-box .md-title img {
        max-width: 25px;
    }
    .border-cs {
        height: 6px;
    }
    .service-wrap .col-md-4 + .col-md-4 {
        margin-top: 25px;
    }
    .service-wrap {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .read-more-btn {
        padding: 8px 44px;
    }
    .main-wrap {
        background: #030E18 url(../img/top-bg.jpg) no-repeat center top;
        background-size: auto 50%;
    }
    .welcome-delta-wrap {
        background: #030E18 url(../img/bg-geometric.svg) no-repeat right top;
        background-size: auto 100%;
        background-attachment: fixed;
    }
    .welcome-delta-wrap .pe-5 {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
    }
    .welcome-title {
        font-size: 40px;
        line-height: 49px;
    }
    .welcome-delta-wrap .content p {
        font-size: 17px;
        line-height: 26px;
    }
    .wl-box {
        padding: 15px;
    }
    .wl-content .wl-title {
        margin-bottom: 10px;
    }
    .unique-collections-wrap .main-title {
        font-size: 40px; 
        line-height: 46px;
    }
    .unique-collections-wrap .read-more-btn,
    .inventory-wrap .read-more-btn {
        font-size: 22px;
        line-height: 40px;
        width: 100%;
    }
    .unique-collections-wrap .read-more-btn + .read-more-btn {
        margin-top: 40px;
    }
    .inventory-title {
        font-size: 60px;
        letter-spacing: -2.49px;
        line-height: 66px;
        text-align: center;
    }
    .inventory-wrap {
        padding: 40px 0;
    }
    .inventory-title1 {
        font-size: 18px;
        letter-spacing: -0.36px;
        line-height: 20px;
    }
    .inventory-mileage {
        font-size: 16px;
        letter-spacing: -0.32px;
        line-height: 17px;
    }
    .inventory-title2 {
        font-size: 17px;
        letter-spacing: -0.34px;
        line-height: 22px;
    }
    .inventory-price {
        font-size: 22px;
        letter-spacing: -0.44px;
        line-height: 24px;
    }
    .inventory-wrap .read-more-btn {
        margin-top: 30px;
    }
    .main-title {
        font-size: 40px;
        letter-spacing: -1.25px;
        line-height: 43px;
    }
    .contact-phone {
        margin-top: 10px !important;
    }
    .footer-wrap .d-flex {
        display: block !important;
        text-align: center;
    }
    .copyright {
        margin-bottom: 15px;
    }
    .social-list a:first-child {
        margin-left: 0;
    }
    .collection-box {
        flex-wrap: wrap;
    }
    .collection-box .w-50 {
        width: 100% !important;
    }
    .cb-sub-title {
        min-height: auto;
        margin-bottom: 15px !important;
    }
    .inside-bg-wrap {
        background: url(../img/bg-geometric.svg) no-repeat calc(100% + 250px) bottom;
        background-size: 100%;
    }
    .view-dtl-box {
        padding: 20px;
    }
    .mt-100 {
        margin-top: 30px;
    }
    .mt-80 {
        margin-top: 30px;
    }
    .view-dtl-box p {
        font-size: 15px;
        line-height: 25px;
    }
    .send-btn, 
    .vdtl-inquire-btn,
    .read-more-btn  {
        font-size: 18px !important;
        padding: 10px 40px !important;
    }
    .view-dtl-right .view-dtl-box {
        padding: 20px;
    }
    .view-dtl-left .cb-title {
        font-size: 26px;
        letter-spacing: -0.25px;
        line-height: 30px;
    }
}
@media(max-width:600px) {
    .header-block {
        padding: 15px 20px;
        flex-wrap: wrap;
        display: block !important;
    }
    .header-block .brand-logo {
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .header-block .text-end {
        text-align: left !important;
    }
    .cb-right {
        padding: 20px;
    }
    .read-more-btn {
        padding: 8px 26px;
        font-size: 15px;
    }
    .inside-bg-wrap {
        padding: 30px 0 220px;
    }
    .inventory-title {
        font-size: 42px;
        line-height: 52px;
        letter-spacing: 0;
    }
}
@media(max-width:420px) {
    .cs-tabs ul li a {
        padding: 4px 18px;
        font-size: 12px;
    }
    .custom-form .form-group {
        margin-bottom: 22px;
    }
    .view-dtl-left .read-more-btn.send-btn {
        max-width: 100%;
        margin-top: 20px;
    }
}
@media(max-width:380px) {
    .social-list a {
        margin-left: 20px;
    }
    .inventory-title {
        font-size: 50px;
        letter-spacing: -2.49px;
        line-height: 56px;
    }
}